#root {
  text-align: center;
}

.body {
  font-family: "Roboto", sans-serif;
}

.app {
  justify-content: center;
  align-items: center;
  text-align: center;
}

temp-continer {
  width: 350px;
  height: 150px;
  margin-bottom: 50px;
  margin: 0 auto;
}

.header-form {
  flex-direction: row;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.header-form > * {
  margin-left: 1%;
}
.sprinkel-input {
  width: 50px;
}
.input-rows > * {
  margin-left: 10%;
}
.input-rows {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.input-values > * {
  margin-left: 30%;
}

.moves-continer {
  display: flex;

  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.moves-continer > * {
  margin-left: 2%;
}
textarea {
  resize: none;
}
.flex-continer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.inputChanges {
  align-self: start;
  text-align: right;
  height: 100px;
}
.down-row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.continer-sig {
  display: flex;
  justify-content: center;
  align-items: center;
}

.vImage {
  width: 100px;
  height: 100px;
}
p {
  font-size: 0.9rem;
}
h3 {
  font-size: 0.9rem;
}
h4 {
  font-size: 0.7rem;
}
h5 {
  font-size: 0.6rem;
}

.big-continer {
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 2px solid black;
}
/* .changes {
    align-self: start;
  } */

@media (max-width: 500px) {
  .text-continer {
    margin-bottom: 100px;
  }

  .vImage {
    width: 100px;
    height: 100px;
  }

  .header-form {
    flex-direction: row;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .flex-continer {
    margin-top: 50px;
    text-align: center;
    width: 100%;
  }
  input {
    width: 80px;
    height: 30px;
    font-size: 0.8rem;
  }

  .flex-continer > * {
    margin-left: 100px;
  }
  .changes-input {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .inputChanges {
    align-self: start;
    text-align: right;
    height: 90px;
    width: 200px;
  }
  .big-continer > * {
    margin-bottom: 15px;
  }

  .text {
    height: 150px;
    margin-top: 40px;
  }

  .text2 {
    height: 200px;
    font-size: 0.6rem;
    margin-top: 18px;
  }

  .signeture-padding {
    width: 200px;
    height: 80px;
  }

  .signature-pad {
    width: 200px;
    height: 80px;
  }
  .textarea-name {
    flex-direction: column;
    display: flex;
  }
  h6 {
    font-size: 0.6rem;
  }
}
