<<<<<<< HEAD
/* textarea {
  width: 500px;
} */
#root {
  text-align: center;
=======
.textarea-div {
  width: 100%;
}

.text-finished {
  justify-content: center;
  align-items: center;
  height: 530px;
>>>>>>> textFixed
}
/* 
.vImage {
  width: 200px;
  height: 200px;
  justify-content: center;
  align-items: center;
<<<<<<< HEAD
}
.main-div {
  justify-content: center;
  align-items: center;
=======
} */

#root {
>>>>>>> textFixed
  text-align: center;
}

.continer {
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 2px solid black;
}
<<<<<<< HEAD
.text-finished {
  justify-content: center;
  align-items: center;
  height: 300px;
}
=======
.text-p {
  font-size: 1.9rem;
}
/* p {
  font-size: 1rem;
} */

/* .p-div {
  height: 30%;
  text-align: center;
} */

>>>>>>> textFixed
.main-div {
  text-align: center;
}

<<<<<<< HEAD
h1 {
  font-size: 1.5rem;
=======
@media (max-width: 500px) {
  .text-p {
    font-size: 0.6rem;
  }
  .infoSprinkel {
    font-size: 0.8rem;
  }
  .info {
    font-size: 0.5rem;
  }
  .text-added {
    font-size: 1rem;
  }

  .temp-div {
    height: 200px;
  }
>>>>>>> textFixed
}

.textarea-div {
  height: 580px;
}

.text2 {
  height: 300px;
}
p {
  font-size: 1.2rem;
}
h4 {
  font-size: 1.2rem;
}
h3 {
  font-size: 1.2rem;
}

/* Media query for screens less than 500px */

@media (max-width: 500px) {
  h3 {
    font-size: 0.8rem;
  }
  h4 {
    font-size: 0.6rem;
  }
  .text2 {
    margin-top: 80px;
    height: 300px;
  }
}
