.textarea-div {
  width: 100%;
}

.text-finished {
  justify-content: center;
  align-items: center;
  height: 300px;
}

.vImage {
  width: 300px;
  height: 300px;
  justify-content: center;
  align-items: center;
}

#root {
  text-align: center;
}

.continer {
  justify-content: center;
  align-items: center;
  border: 2px solid black;
}

/* .p-div {
  height: 30%;
  text-align: center;
} */

.main-div {
  text-align: center;
}

p {
  font-size: 1rem;
}

/* textarea {
  width: 500px;
} */
